@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300&display=swap");
.solid {
  background: #c2720a;
  color: #ebd1b0;
}

.solid-reverse {
  background: #ebd1b0;
  color: #c2720a;
}

.dark {
  background: #2c1a03;
  color: #ebd1b0;
}

.navtop {
  display: none;
  left: 0;
  top: 0;
  right: 0;
  margin-top: 50px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navtop .item {
  padding: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navtop .avatar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navtop .avatar-container .avatar {
  height: 200px;
  width: 200px;
  margin: 80px 80px 0 80px;
  border-radius: 100%;
  border: 10px orange solid;
}

.navtop .link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

.navtop .link-menu a {
  margin-left: 20px;
  margin-right: 20px;
}

.navtop .link-menu a :hover {
  color: orange;
}

.navmob .namebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navmob .namebar h1 {
  margin: 0;
  padding: 5px;
}

.navmob .linkbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navmob .linkbar a h1 {
  margin: 0;
  padding: 5px;
}

.navmob .linkbar a :visited {
  color: #c2720a;
}

body {
  font-size: 14px;
  margin: 0;
}

body a {
  text-decoration: none;
  color: inherit;
  font-family: 'Open Sans', sans-serif;
}

body a:hover {
  text-decoration: none;
  color: #dbc78b;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
}

h2 {
  font-size: 19.6px;
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
}

h3 {
  font-size: 18.2px;
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
}

h4 {
  font-size: 16.8px;
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
}

h5 {
  font-size: 15.4px;
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
}

h6 {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
}

p {
  font-size: 14px;
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  body {
    font-size: 16.8px;
  }
  h1 {
    font-size: 25.2px;
    font-weight: 700;
  }
  h2 {
    font-size: 23.52px;
    font-weight: 700;
  }
  h3 {
    font-size: 21.84px;
    font-weight: 700;
  }
  h4 {
    font-size: 20.16px;
    font-weight: 700;
  }
  h5 {
    font-size: 18.48px;
    font-weight: 700;
  }
  h6 {
    font-size: 16.8px;
    font-weight: 700;
  }
  p {
    font-size: 16.8px;
    line-height: 1.1;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 19.6px;
  }
  body .navtop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .navmob {
    display: none;
  }
  h1 {
    font-size: 29.4px;
    font-weight: 700;
  }
  h2 {
    font-size: 27.44px;
    font-weight: 700;
  }
  h3 {
    font-size: 25.48px;
    font-weight: 700;
  }
  h4 {
    font-size: 23.52px;
    font-weight: 700;
  }
  h5 {
    font-size: 21.56px;
    font-weight: 700;
  }
  h6 {
    font-size: 19.6px;
    font-weight: 700;
  }
  p {
    font-size: 19.6px;
    line-height: 1.1;
  }
}
/*# sourceMappingURL=style.css.map */